.sidebar{
	flex          : 0.35;
	display       : flex;
	flex-direction: column;
}

.sidebarChat{
	display    : flex;
	align-items: center
}

.sidebar_header{
	display: flex;
	justify-content: space-between;
	padding: 20px;
	border-right: 1px solid lightblue;
	height: 8vh;
}

.sidebar_header_right{
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-width: 10vw;

}

.sidebar_search{
	display         : flex;
	align-items     : center;
	background-color: #f6f6f6;
	height          : 39px;
	padding         : 10px;
}

.sidebar_search_container{
	display         : flex;
	align-items     : center;
	background-color: white;
	width           : 100%;
	height          : 30px;
	border-radius   : 20px;
}

.sidebar_search_container > input{
	border : none;
	margin : 10px;
	flex   : 1;
	outline: none;
}

.sidebar_search_container > .MuiSvgIcon-root{
	margin: 10px;
}

.myButton {
	background-color:#44c767;
	border-radius   :12px;
	display         :inline-block;
	cursor          :pointer;
	color           :#ffffff;
	font-family     :Trebuchet MS;
	font-size       :16px;
	padding         :6px 11px;
	text-decoration :none;
	text-shadow     :-1px 1px 0px #2f6627;
	margin-left     : auto;
}

.myButton:hover {
	background-color:#5cbf2a;
}

.myButton:active {
	position:relative;
	top     :1px;
}

.sidebar_chats{
	background-color: white;
	flex            : 1;
	overflow        : auto;
}

.dropdown {
	position     : relative;
	display      : inline-block;
}

.dropdown-content {
	display         : none;
	position        : absolute;
	background-color: #f1f1f1;
	min-width       : 100px;
	z-index         : 1;
	font-size       : 15px;
}

.dropdown-content p {
	color          : black;
	padding        : 5px;
	text-decoration: none;
	display        : block;
}

.dropbtn{
	padding      : 5px;
	border-radius: 50%;
}

.dropdown-content p:hover {
	background-color: #ddd;
}
.dropbtn:hover{
	box-shadow: 3px 3px 3px 3px grey;
	cursor    : pointer;
}
.dropdown:hover .dropdown-content {
	display: block;
	cursor : pointer;
}
